@media (max-width: 600) {
    body {
        display: none;
        background-color: #D0E3F5;
        font-size: 15px;
        font-family: 'Inter', sans-serif;
        }   
    }

    @media (max-width: 500) {
    body {
        display: none;
        background-color: #D0E3F5;
        font-size: 15px;
        font-family: 'Inter', sans-serif;
        }   
    }

@media only screen and (max-width: 575px) {
    .nav_bar {
      display: none;
  }
}
        
@media (max-width: 500) {
    body {
        display: none;
        background-color: #D0E3F5;
        font-size: 15px;
        font-family: 'Inter', sans-serif;
        }   
    }
